/* Reset some default styles */
body, table, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.styled-table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.styled-table th {
    background-color: #f0f0f0;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


.action-btn {
    display: inline-block;
    margin-right: 5px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.action-btn:hover {
    color: #555;
}

.edit-btn {
    color: #3498db;
}

.delete-btn {
    color: #e74c3c;
}


.adminList{
    height: 83vh;
}

header {
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 30px;
}
